<template>
<v-card
outline
color="#000000"

>
<span>add to cart </span>
<v-list-item>
  <v-list-item-avatar color="black"></v-list-item-avatar>
  <v-list-item-content>price</v-list-item-content>
  <v-list-item-content>total</v-list-item-content>
</v-list-item>
</v-card>

</template>
<script>
</script>
<style>
</style>
