<template>
  <div>
    <social-sharing url="https://shabbaeventsug.com/"
                          title="The Event King Is Here"
                          description="T.Shirts And Panties Up"
                          quote="1st Febuary"
                          hashtags="parte,parteafterparte,majorevent"
                          twitter-user="shabbaevents"
                          inline-template>
      <div>
        <v-btn icon>
          <network network="email">
              <i class="fa fa-envelope"></i> <v-icon color="#000000">mdi-email-edit-outline</v-icon>
          </network>
        </v-btn>
        <v-btn icon>
          <network network="facebook">
            <i class="fa fa-facebook"></i> <v-icon color="blue">mdi-facebook</v-icon>
          </network>
        </v-btn>

        <v-btn icon>
          <network network="googleplus">
            <i class="fa fa-google-plus"></i> <v-icon color="red">mdi-google-plus</v-icon>
          </network>
        </v-btn>

        <v-btn icon>
          <network network="pinterest">
            <i class="fa fa-pinterest"></i> <v-icon color="red">mdi-pinterest</v-icon>
          </network>
        </v-btn>
        <v-btn icon>
          <network network="sms">
            <i class="fa fa-commenting-o"></i> <v-icon color="purple">mdi-message</v-icon>
          </network>
        </v-btn>

        <v-btn icon>
          <network network="twitter">
            <i class="fa fa-twitter"></i> <v-icon color="blue">mdi-twitter</v-icon>
          </network>
        </v-btn>

        <v-btn icon>
          <network network="whatsapp">
            <i class="fa fa-whatsapp"></i> <v-icon color="green">mdi-whatsapp</v-icon>
          </network>
        </v-btn>

      </div>
    </social-sharing>
  </div>
</template>
<script>
export default{
  name:'socialshared',
}
</script>
<style>
</style>
