<template>

    <v-container>
      <v-layout row  class="mt-2">
        <v-flex
        xs12
        sm6
        md6
        md3
        lg7
        xl6
        offset-sm3
        >
        <div data-aos="fade-down"  data-aos-duration="2000">
          <v-card
          color="#1f3139"
          raised
          class="rounded-card"
          >
            <v-carousel

            cycle
            hide-delimiter-background
            delimiter-icon="mdi-heart"
            :show-arrows="false"

            >
              <v-carousel-item
              reverse-transition="fade-transition"
              transition="fade-transition"
                v-for="image in images"
                :key="image.id"
                :src="image.imageUrl"
                width="900px"
                >

                  <v-img ></v-img>
                  <div class="title">
                    {{ image.title }}
                  </div>


              </v-carousel-item>
            </v-carousel>
          </v-card>
            </div>

        </v-flex>
      </v-layout>
      <v-flex xs12 class="text-xs-center">
       <p>Ugandan Roots</p>
      </v-flex>


    </v-container>


</template>

<script>
  export default {
    data () {
      return {
        images: [
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190903_115700.jpg', id: '11', title: 'wilder beast Jumpers' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190825_183204.jpg', id: '11', title: 'Onjagaza Edembe Tonemesa Travel Voop' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190905_065516.jpg', id: '12', title: 'Team Nyanya mbiisi Jumpers' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/IMG_20190905_111127.jpg', id: '13', title: 'African Cities' },
          { imageUrl: 'http://127.0.0.1:8000/media/media/blackwhite3.jpg', id: '14', title: 'boom-boom chao' },
        ]
      }
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2em;
    padding: 20px;
  }
  .rounded-card{
      border-radius:10px;
  }
</style>
