<template>
  <v-app style="background: #000000">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      color="#000000"
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
        <a href="/"><v-list-item-title v-text="item.title" /></a>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="#000000"

    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>


    <a href="/"><v-toolbar-title v-text="title" /></a>
      <v-spacer />
      <v-btn to="/mackus" icon><v-icon>mdi-phone-ring-outline</v-icon></v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <checkoutbutton></checkoutbutton>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer

      padless
      color="#000000"
    >
      <span>&copy; 2020</span>
    <socialshared></socialshared>
    </v-footer>
  </v-app>
</template>

<script>
import checkoutbutton from './checkoutbutton.vue'
import socialshared from '~/components/socialshared.vue'
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [

        {
          icon: 'mdi-image-album',
          title: 'Animation',
          to: '/images'
        },
        {
          icon: 'mdi-video',
          title: 'Sketch Book',
          to: '/videos'
        },
        {
          icon: 'mdi-image',
          title: 'Illustration',
          to: '/audios'
        },
        {
          icon: 'mdi-heart',
          title: 'About',
          to: '/Mackus'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Amoni Graphics'
    }
  },
  components:{checkoutbutton,socialshared},
}
</script>
