    <template>
        <v-container grid-list-lg>
            <v-layout row>
                <v-flex xs12 class="text-xs-center display-1 font-weight-black my-5">Digital Art</v-flex>
                <div>
                  <h1>love art Art Love</h1>
                </div>
            </v-layout>
             <v-card 
             color="#000000"
            class="rounded-card"
            raised
             >
    <v-img
      class="grey lighten-2"
      height="400"
      width="100%"
      :src="require('@/assets/images/first_page2.png')"
    >
      <v-layout
        fill-height
        align-center
        pa-3
      >
        <v-flex
          xs12
          md7
          offset-md5
        >
        <span>Amoni </span>
          
        
        </v-flex>
      </v-layout>
    </v-img>
  </v-card>
  <br/>
  <v-card 
   color="#000000"
   class="rounded-card"
  >
    <v-img
      class="grey lighten-2"
     
      width="100%"
      :src="require('@/assets/images/sketch1547587773553_mix02.png')"
    >
      <v-layout
        fill-height
        align-center
        pa-3
      >
        <v-flex
          xs12
          md7
          offset-md5
        >
        <span>Amoni </span>
          
        
        </v-flex>
      </v-layout>
    </v-img>
  </v-card>
            

           
        </v-container>
    </template>

    <script>
    export default {

        head () {
          return {
            title: 'Amoni| African Art ,African Images, Creativity',
            meta: [
              { hid: 'description', name: 'description', content: ' Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
              { property:'og:locale' , content:'af:' },
            { property:'og:type' ,content:'website' },
            { property:'og:title' ,content:'kachaq : African Recipes,Rootsman Foods and hunters basics' },
            { property: 'og:description' ,content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq' },
            { property:'og:site_name' ,content: 'kachaq' },
            { property: 'og:url' ,content: 'https://kachaq.com/'},
            {name:'twitter:card' ,content: 'summary_large_image'},
            {name:'twitter:description', content:'Find and share everyday cooking inspiration on kachaq recipes. Discover African  recipes, African cooks, videos, and how-tos based on the African  food you love and the friends you follow. kachaq'},
            { name:'twitter:creator' ,content: '@kachaq'},
            {name: 'twitter:site', content: '@kachaq'},
            { name:'twitter:title', content:'kachaq : African Recipes,Rootsman Foods and hunters basics'},
            { name:'twitter:image', content:'https://kiliboid.pythonanywhere.com/media/media/ofada-sauce1.jpg'},

            ]
          }
        },

    }
    </script>

    <style scoped>
    .rounded-card{
    border-radius:10px;
}
    </style>
