  <template>
  <v-card
    :loading="loading"
    class="mx-auto my-12"
    max-width="374"
  >
    <v-img
      height="250"
      src="https://kiliboid.pythonanywhere.com/media/media/burna1.jpg"
    ></v-img>

    <v-card-title>Amoni Graphics</v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0"
      >
        <v-rating
          :value="5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div class="grey--text ml-4">5 (413)</div>
      </v-row>

      <div class="my-4 subtitle-1 black--text">
        $ • Two Time Award Winning Artist
      </div>

      <div>2020 has proved to be an impressive year so far for the iconic  African Digital Artist, Amoni Joram.  With a career spanning 8 years, the native AFrican is currently riding higher than ever.  He’s been rocking the 2019 African Rainy Summer Season, with frequent Art performances at some of the island’s hottest spots including  PIKES and GLITTERBOX at , where his new Art Pierce 'RootsMAn ’ has been taking the roof off.  </div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-title>Tonight's availability</v-card-title>

    <v-card-text>
      <v-chip-group
        v-model="selection"
        active-class="deep-purple accent-4 white--text"
        column
      >
        <v-chip>5:30PM</v-chip>

        <v-chip>7:30PM</v-chip>

        <v-chip>8:00PM</v-chip>

        <v-chip>9:00PM</v-chip>
      </v-chip-group>

    </v-card-text>
    <v-divider class="mx-4"></v-divider>
    <v-card-text>
      Email: info@Djmackus.com
      <br/>

      Mobile Contact:-0770648395 Or 0701038543
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="deep-purple accent-4"
        text
        @click="reserve"
      >
        Book
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      loading: false,
      selection: 1,
    }),

    methods: {
      reserve () {
        this.loading = true

        setTimeout(() => (this.loading = false), 2000)
      },
    },
  }
</script>

<style>
</style>
